[data-target] {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #333;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

form button:hover,
form button:focus {
	outline: none;
}

form button:hover {
	opacity: 0.6;
}

form button ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 8px;
	width: 100%;
}

textarea:hover,
textarea:focus {
	outline: none;
}

textarea:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	background-color: #efa336;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner,
input[type="button"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

input[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
	background: #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	border-bottom: 4px solid #efa336;
	border-left: 4px solid #efa336;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #707070;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #707070;
	box-shadow: none;
	outline: none;
}

.inner {
	height: inherit;
	margin: 0 auto;
	padding: 0;
	width: 1100px;
}

.btn {
	-webkit-appearance: none;
	background-color: #424242;
	background-image: none;
	border: 2px solid #424242;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	letter-spacing: 0.04em;
	line-height: 58px;
	margin: 0;
	max-width: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	width: 300px;
}

.btn:not(:disabled) {
	cursor: pointer;
}

.btn:hover,
.btn:focus {
	outline: none;
}

.btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.drawer {
	z-index: 40;
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.drawer-close.is-checked {
	display: block;
	opacity: 0.4;
}

.drawer-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.drawer-icon::after {
	color: #424242;
	content: "MENU";
	display: none;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	text-align: center;
}

.drawer-icon.is-checked::after {
	content: "CLOSE";
}

.drawer-bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 25px;
}

.drawer-bar {
	background: #424242;
	border-radius: 3px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.drawer-bar:nth-of-type(1) {
	top: 0;
}

.drawer-bar:nth-of-type(2) {
	top: 8px;
}

.drawer-bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
	background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

.drawer-content {
	background: #fff;
	bottom: auto;
	color: #424242;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.drawer-content.is-checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-content--left {
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.drawer-content--top {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.footer {
	background-color: #f2f2f2;
	margin: 0 auto;
	padding: 35px 0 25px;
	width: 1400px;
}

.footer > .inner {
	width: 970px;
}

.footer__title {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}

.footer .footer__inquiry {
	align-items: center;
	border-bottom: solid 1px #a9a9a9;
	border-top: solid 1px #a9a9a9;
	display: flex;
	justify-content: center;
	margin-top: 15px;
	padding: 13px 0 16px;
}

.footer .footer__inquiry--tel {
	margin-right: 55px;
}

.footer .footer__inquiry--tel a:hover {
	opacity: 1;
}

.footer .footer__block {
	display: flex;
	justify-content: space-between;
	margin-top: 34px;
}

.footer .footer__detail {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.3rem;
	width: 395px;
}

.footer .footer__list {
	border-right: solid 1px #b5b5b5;
	margin-bottom: 18px;
	text-align: center;
	width: 130px;
}

.footer .footer__list a {
	display: block;
	text-decoration: none;
}

.footer .footer__address {
	font-size: 1.3rem;
	margin-top: 13px;
}

.footer-copy {
	font-size: 1.1rem;
	margin: 36px 0;
	text-align: center;
}

.header {
	background: #fff;
	height: 40px;
	margin: 20px auto;
	position: relative;
	width: 1400px;
	z-index: 20;
}

.header > .inner {
	width: 1100px;
}

.header-content {
	align-items: center;
	display: flex;
}

.header-logo {
	margin-right: auto;
}

.header-logo a {
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo img {
	width: 200px;
}

.header-nav {
	display: flex;
	font-size: 1.6rem;
	font-weight: bold;
}

.header-nav ul {
	align-items: center;
	display: flex;
}

.header-nav li {
	border-right: solid 1px #000;
	margin-right: 33px;
	padding-right: 33px;
}

.header-nav li > a {
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-nav li:last-of-type {
	border-right: none;
}

a:hover {
	opacity: 0.6;
	transition: 0.5s;
}

.mv {
	margin: 0 auto;
	width: 1300px;
}

.mv .mv__description {
	position: relative;
}

.mv .mv__description--btn {
	left: 563px;
	position: absolute;
	top: 440px;
}

.content {
	margin: 85px auto 0;
	width: 1400px;
}

.content .main__construction {
	position: relative;
}

.content .main__construction--btn {
	left: 455px;
	position: absolute;
	top: 252px;
}

.content .main__block1 {
	display: flex;
	margin-top: 36px;
}

.content .main__box {
	border: solid 1px #ccc;
}

.content .main__text {
	padding: 24px 20px;
}

.content .main__text--title {
	font-size: 1.4rem;
	font-weight: bold;
}

.content .main__text--title a {
	position: relative;
	text-decoration: none;
}

.content .main__text--title a:after {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #b22132;
	border-top: 5px solid transparent;
	content: "";
	position: absolute;
	right: -14px;
	top: 3px;
}

.content .main__text--description {
	font-size: 1.4rem;
}

.content .main__facility {
	margin-right: 37px;
	width: 720px;
}

.content .main__cm {
	width: 343px;
}

.content .main__detail {
	display: flex;
}

.content .main__block2 {
	display: flex;
	margin-top: 36px;
}

.content .main__adoption {
	margin-right: 34px;
	width: 343px;
}

.content .main__individual {
	margin-right: 37px;
	width: 343px;
}

.content .main__news {
	margin-top: 35px;
	position: relative;
	width: 720px;
}

.content .main__news--title {
	font-size: 1.8rem;
}

.content .main__news--link {
	border: 1px;
	border: solid 1px #ccc;
	font-size: 1.2rem;
	position: absolute;
	right: 37px;
	top: 0;
}

.content .main__news--link a {
	display: inline-block;
	margin: auto;
	padding: 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 97px;
}

.content .main__news--link a:after {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #b22132;
	border-top: 5px solid transparent;
	content: "";
	position: absolute;
	right: 10px;
	top: 9px;
}

.content .main__news--detail {
	border-top: solid 1px #e5e5e5;
	margin-top: 24px;
}

.content .main__news--list {
	border-bottom: solid 1px #e5e5e5;
	display: flex;
	font-size: 1.4rem;
	padding: 20px 18px;
}

.content .main__news--day {
	margin-right: 14px;
	width: 110px;
}

.content .main__news--text {
	width: 560px;
}

.content .main__facebook {
	margin: 35px 0 0 0;
	width: 343px;
}

@media (min-width: 768px) and (max-width: 1099px) {

.hidden-tab {
	display: none;
}

}

@media (min-width: 1100px) {

.hidden-pc {
	display: none;
}

}

@media (max-width: 767px) {

.hidden-sp {
	display: none;
}

}

