.header {
	position: relative;
	width: 1400px;
	margin: 20px auto;
	background: #fff;
	height: $header-height;
	z-index: map-get($layer, "header");

	> .inner {
		width: 1100px;
	}
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: auto;

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}

	img {
		width: 200px;
	}
}

.header-nav {
	display: flex;
	font-size: 1.6rem;
	font-weight: bold;

	ul {
		display: flex;
		align-items: center;
	}

	li {
		margin-right: 33px;
		padding-right: 33px;
		border-right: solid 1px #000;

		> a {
			text-decoration: none;
			color: $cr-txt;
			display: block;
			transition: all 0.3s ease 0s;

			&:hover {
				opacity: $opacity;
			}
		}
	}
	li:last-of-type {
		border-right: none;
	}
}
